In [1]:
#print statement
print('HOPE AI')

HOPE AI

In [2]:
#input
institute_name = input("Enter your institute name? : ")
print(institute_name)

Enter your institute name? : HOPE AI
HOPE AI

In [4]:
#multiple input
name= input("Enter your name: ")
age= input("Enter your age: ")
school = input("Enter your school name: ")
degree = input("Enter your drgree: ")
print(name,age,school,degree)

Enter your name: Barath KR
Enter your age: 27
Enter your school name: ALG
Enter your drgree: B.E Production Engg
Barath KR 27 ALG  B.E Production Engg

In [15]:
#add
a = 43
b = 34
add = a+b
print("a=",a,"b=",b,"Add =",add)

a= 43 b= 34 Add = 77

In [16]:
#sub
a = 43
b = 34
sub = a-b
print("a=",a,"b=",b,"Sub =",sub)

a= 43 b= 34 Sub = 9

In [18]:
#multiplication

a=63
b=97
mul = a*b
print("a=",a,"b=",b,'mul=', mul)

a= 63 b= 97 mul= 6111

In [19]:
#division use one / to get answer with decimals
a = 76
b = 31
division = a/b
print("a=",a,"b=",b,'float division=', division)

a= 76 b= 31 float division= 2.4516129032258065

In [21]:
#floor division use // to get answer without decimals
a = 76
b = 31
division = a//b
print("a=",a,"b=",b,'floor division=', division)

a= 76 b= 31 floor division= 2

In [35]:
#Modulo use % to get remainder value
a= 76
b= 31
Modulo = a%b
print("a=",a,"b=",b,'modulo=',Modulo)

a= 76 b= 31 modulo= 14

In [40]:
#power
a=4
b=4
power= a**b
print(power)

256